<div>
  <div>{{ count }}</div>
  <button (click)="increment($event)">Add</button>
  <button (click)="decrement()">Subtract</button>

  <p *ngIf="show">This p tag will only show if the variable is true</p>

  <button (click)="showHidePara()">Show/Hide Paragraph</button>


  <!-- this is to print a list, or to loop and return html tags -->
  <ol type="1">
    <li *ngFor="let framework of frameworks">{{framework}}</li>
  </ol>

  <p customHighlightDirective>This should be highlighted red because of the custom directive. Let's see if this works!</p>

  <!-- setting up material UI-->
  <mat-slide-toggle>Toggle me</mat-slide-toggle>

  <app-custom-table></app-custom-table>

</div>
